@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  --color-primary: #9fe870;
  --color-primary-hover: #cdffad;
  --color-primary-pale: #e2f6d5;

  --color-surface: #ffffff;
  --color-surface-soft: #e8ebe6;

  --color-ink: #0e0f0c;
  --color-body: #454745;
  --color-mute: #868685;

  --color-border: rgba(14, 15, 12, 0.06);

  --color-success: #2ead4b;
  --color-danger: #d03238;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;

  background: var(--color-surface-soft);

  color: var(--color-ink);

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
