@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #9fe870;
  --color-primary-hover: #cdffad;
  --color-primary-pale: #e2f6d5;
  --color-surface: #ffffff;
  --color-surface-soft: #e8ebe6;
  --color-ink: #0e0f0c;
  --color-positive: #2ead4b;
  --color-danger: #d03238;
  --color-mute: #868685;
}